body {
    background-color: #ffb84d
}

nav {
	background-color: #efa83d;
	margin-top: 1em;
	border-radius: 5px;
}

a.link_no_underline:hover {
    text-decoration: none;
}

ul.navbar-nav {
	margin-left:1em;
}

.nav-item.active {
	background-color: #ffb84d;
	margin-left: 1em;
	margin-right: 1em;
}

img.navbar-brand {
	width:100px;
}

div#content {
	margin-top: 1em;
}

div.card.plain {
	margin-top: 1em;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #ffb84d;
}

div.card.plain>div.card-header {
	background-color: inherit;
}

div#filtering button {
	background-color: #efa83d;
	color: #000000;
}

div#filtering label {
	font-weight: bold;
}

div.filter_controls {
	padding-bottom: 1em;
}

div.dashboard-heading {
	padding-bottom: 1em;	
}

h1.inline-heading, h2.inline-heading, h3.inline-heading, h4.inline-heading {
	display: inline-block;
}

.btn:focus {
    outline: none;
}

form button {
	margin-bottom: 1em;
}

form#login button {
	background-color: #efa83d;
	color: #000000;
}

div.pending {
	background-color: #efa83d;
	border-radius: 5px;
	padding:1em;
	margin-bottom: 1em;
}

label input {
	margin-right: 0.5em;
}

label.form-check-label {
	padding-bottom: 1em;
}

mark {
    background-color: #efa83d;
    color: inherit;
}

div#map {
	height: 400px;
	margin: 20px;
}

div#map_collapse {
	padding-bottom: 1em;
}

a#open_map_link{
	margin: 20px;
}

.print-only {
	display:none;
}

div.university_detail {
	border: 1px solid rgba(0,0,0,0.125);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

@media print {
	.print-only {
		display:unset;
	}

	.navbar {
		display:none;
	}

	#map_collapse_heading
	{
		display:none;
	}
}
